In [81]:
import pandas as pd

In [82]:
df=pd.read_csv("spotify_millsongdata.csv")
df.to_pickle("spotify_millsongdata.pkl")
loaded_df = pd.read_pickle("spotify_millsongdata.pkl")
pkl_file = "df.pkl"
df.to_pickle(pkl_file)

In [83]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [84]:
df.tail(5)

,artist,song,link,text
19143,Taylor Swift,Jump Then Fall,/t/taylor+swift/jump+then+fall_20858034.html,"I like the way you sound in the morning, \nWe..."
19144,Taylor Swift,Last Kiss,/t/taylor+swift/last+kiss_20892702.html,I still remember the look on your face \nLit ...
19145,Taylor Swift,Live For The Little Things,/t/taylor+swift/live+for+the+little+things_209...,"One day break, one heart ache, every once upon..."
19146,Taylor Swift,Long Live,/t/taylor+swift/long+live_20892705.html,I said remember this moment \nIn the back of ...
19147,Taylor Swift,Love Story,/t/taylor+swift/love+story_20757542.html,We were both young when I first saw you \nI c...

In [85]:
df.shape

(19148, 4)

In [86]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [87]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [57]:
df.head(10)

,artist,song,text
0,Nirvana,My Sharona,"Ooh, my little pretty one, my pretty one \nWh..."
1,Great Big Sea,Summer,She doesn't see the coming fall \nShe doesn't...
2,Lou Reed,City Lights,Don't these city lights light these streets to...
3,Red Hot Chili Peppers,Make You Feel Better,She's the one she's the only one \nShe's got ...
4,Air Supply,Body Glove,"The more you win, the more you gain \nAn open..."
5,Puff Daddy,Feelin' So Good (Bad Boy Remix),"Damn, you look good \n \nRap by P. Diddy \n..."
6,Rolling Stones,"Laugh, I Nearly Died",I've been traveling but I don't know where \n...
7,New Order,Ultraviolence,Who saw those dark eyes \nWho saw those dark ...
8,Owl City,Strawberry Avalanche,This is a world of dreams and reverie \nWhere...
9,Old 97's,Just Like California,Just like California was not even there \nSin...

In [58]:
df['text'][0]

"Ooh, my little pretty one, my pretty one  \nWhen you gonna give me some time, Sharona  \nOoh, you make my motor run, my motor run  \nGot it comin' off o' the line, Sharona  \n  \nNever gonna stop, give it up, such a dirty mind  \nI always get it up for the touch of the younger kind  \nMy, my, my, aye-aye, whoa!  \nM-m-m-my Sharona  \n  \nCome a little closer, huh, a-will ya, huh?  \nClose enough to look in my eyes, Sharona  \nKeepin' it a mystery, it gets to me  \nRunnin' down the length of my thigh, Sharona  \n  \nNever gonna stop, give it up, such a dirty mind  \nI always get it up for the touch of the younger kind  \nMy, my, my, aye-aye, whoa!  \nM-m-m-my Sharona  \nM-m-m-my Sharona  \n  \nWhen you gonna give to me, a gift to me  \nIs it just a matter of time, Sharona?  \nIs it d-d-destiny, d-destiny  \nOr is it just a game in my mind, Sharona?  \n  \nNever gonna stop, give it up, such a dirty mind  \nI always get it up for the touch of the younger kind  \nMy, my, my, aye-aye, whoa!  \nM-m-m-m-m-m-m-my, my, my, aye-aye, whoa!  \nM-m-m-my Sharona  \nM-m-m-my Sharona  \nM-m-m-my Sharona  \nM-m-m-my Sharona  \n  \nOoooooo-ohhh, my Sharona  \nOoooooo-ohhh, my Sharona  \nOoooooo-ohhh, my Sharona\n\n"

In [59]:
df.shape

(5000, 3)

text cleaning

In [60]:
df['text']=df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n', ' ', regex=True)

In [61]:
df.tail(5)

,artist,song,text
4995,Slayer,Bitter Peace,initiate blood purge coalition in massacre ...
4996,Rammstein,Stein Um Stein (English Translation),"i have a plan, a big plan i'll build you a h..."
4997,David Allan Coe,Follow Me,i want you to love the things you love and eve...
4998,Electric Light Orchestra,Look At Me Now,"someone is waiting, lurking in the trees the..."
4999,Richard Marx,The Way She Loves Me,i'll have this feeling 'till the day that i di...

In [62]:
import nltk
from nltk.stem.porter import PorterStemmer

In [63]:
stemmer = PorterStemmer()

In [64]:
def token(txt):
    token= nltk.word_tokenize(txt)
    a=[stemmer.stem(w)  for w in token]
    return " ".join(a)

In [65]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [66]:
df['text'].apply(lambda x: token(x))

0       ooh , my littl pretti one , my pretti one when...
1       she doe n't see the come fall she doe n't show...
2       do n't these citi light light these street to ...
3       she 's the one she 's the onli one she 's got ...
4       the more you win , the more you gain an open w...
                              ...
4995    initi blood purg coalit in massacr mechan high...
4996    i have a plan , a big plan i 'll build you a h...
4997    i want you to love the thing you love and even...
4998    someon is wait , lurk in the tree the spirit o...
4999    i 'll have thi feel 'till the day that i die w...
Name: text, Length: 5000, dtype: object

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
tfidd = TfidfVectorizer(analyzer='word', stop_words='english')

In [69]:
tfidf_vectorizer = TfidfVectorizer()
matrix = tfidf_vectorizer.fit_transform(df['text'])

In [70]:
similar=cosine_similarity(matrix)

In [71]:
similar[0]

array([1.        , 0.02768862, 0.01485689, ..., 0.03330528, 0.02728926,
       0.08269506])

In [72]:
# Check if the DataFrame is not empty
if not df[df['song']=='Left Alone'].empty:
    # Access the index of the first occurrence
    index_of_first_occurrence = df[df['song']=='Left Alone'].index[0]
    print(index_of_first_occurrence)
else:
    print("No occurrences found for 'Waiting For The Man' in the 'song' column.")

No occurrences found for 'Waiting For The Man' in the 'song' column.

In [73]:
def recommender(song_name):
    idx =  df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x:x[1])
    song=[]
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [ ]:
recommender("Enough For You")

In [ ]:
import pickle

In [75]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [ ]:
try:
    loaded_similar = pickle.load(open("similarity", "rb"))
    # Use the loaded_similar data as needed
    print("Successfully loaded data.")
except FileNotFoundError:
    print("File 'similarity' not found.")
except pickle.UnpicklingError as e:
    print(f"Error loading data: {e}")